.app {
  display: flex;
}

.app__left-pane,
.app__right-pane {
  width: 50%;
  height: 100%;
}

.parse-button {
  display: block;
  font-size: 28px;
  margin: 10px auto;
}

.filter-box {
  margin: 10px;
  text-align: center;
}
