html,
body,
#root {
  height: 100%;
}

.app {
  height: 100%;

  display: flex;
}

.app__left-pane,
.app__right-pane {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 100%;
}

.parse-button {
  display: block;
  font-size: 28px;
  margin: 10px auto;
}

.filter-box {
  margin: 10px;
  text-align: center;
}

.uast-editor,
.uast-viewer,
.react-codemirror2,
.CodeMirror {
  height: 100%;
}

.uast-editor {
  overflow: hidden;
}
